{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark navigation">
    <h2 class="mt-1 ms-4">Posts Pasados</h2>
    <div class="btn-group btn-group-lg mx-auto" role="group" aria-label="Large button group">
        <button type="button" class="btn btn-outline-dark navigation">Todos</button>
        <button type="button" class="btn btn-outline-dark navigation">Core</button>
        <button type="button" class="btn btn-outline-dark navigation">AI</button>
        <button type="button" class="btn btn-outline-dark navigation">Datos</button>
        <button type="button" class="btn btn-outline-dark navigation">Seguridad</button>
        <button type="button" class="btn btn-outline-dark navigation">Web</button>
        <button type="button" class="btn btn-outline-dark navigation">Robotica</button>
        <button type="button" class="btn btn-outline-dark navigation">Otros</button>
        <button type="button" class="btn btn-outline-dark navigation">
            <form class="d-flex" role="search">
                <input class="form-control me-2 baksearch" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark navigation" type="submit">Search Evento</button>
            </form>
        </button>
    </div>
</nav>
