
<div class="col-6 mx-auto">
    <div class="card border-primary  mb-3 me-3">
        <div class="card-header bg-transparent border-primary backbutt">Gabriel Masutier</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Nueva Fundacion</h5>
            <p class="card-text">Estoy buscando programadores que deseen hacer un Voluntariado, ensenando ninos a programar.</p>
        </div>
        <div class="card-footer bg-transparent border-primary backblogfoot">Hoy 22:25</div>
    </div>
</div>

<div class="col-6 mx-auto">
    <div class="card border-primary mb-3 me-3">
        <div class="card-header bg-transparent border-primary backbutt">Sophia</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Inteligencia Artificial</h5>
            <p class="card-text">Desarrollo de pryectos de IA.</p>
        </div>
        <div class="card-footer bg-transparent border-primary backblogfoot">Ayer</div>
    </div>
</div>

<div class="col-6 mx-auto">
    <div class="card border-primary mb-3 me-3">
        <div class="card-header bg-transparent border-primary backbutt">Pythonista</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Titulo del Tema</h5>
            <p class="card-text">Estoy buscando programadores que deseen hacer un Voluntariado, ensenando ninos a programar.</p>
        </div>
        <div class="card-footer bg-transparent border-primary backblogfoot">Hace 2 Dias</div>
    </div>
</div>

<div class="col-6 mx-auto">
    <div class="card border-primary mb-3 me-3">
        <div class="card-header bg-transparent border-primary backbutt">Pythonista Name</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Otro Tema</h5>
            <p class="card-text">Sigamos programando que esto esta muy bueno.</p>
        </div>
        <div class="card-footer bg-transparent border-primary backblogfoot">May 5 1966</div>
    </div>
</div>