{% load static %}
{% load humanize %}

<!--Carousel Wrapper-->
<div id="carouselExampleControls" class="carousel slide carousel-multi-item" data-bs-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>

    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        {% if eventos %}

        <!--First slide-->
            <div class="carousel-item active">
                {% for evento in eventos %}
                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top" src="{{ evento.picture.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ evento.title }}</h5>
                                {{ evento.location }} <br>
                                {{ evento.city }}, {{ evento.country }} <br>
                                <small class="text-muted">end {{ evento.date_end | naturalday }}</small> <br>
                                <a class="btn btn-dark backbuttdark mt-2" type="button" href="{{ evento.get_event_absolute_url }}">Detalle</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        <!--/.First slide-->
        {% else %}

        <div class="col-12" >
            <h4>{{ mess }}</h4>
        </div>

        {% endif %}
    </div>
    <!--/.Slides-->
    <button class="carousel-control-prev bannbutt" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next bannbutt" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
<!--/.Carousel Wrapper-->
