{% extends 'pycol/layout.html' %}
{% load static %}
{% block content %}

<div class="col-12 mx-auto cont c">
    <img src="{% static '/img/icons/python-col-logo2.png' %}" class="pt-5 pb-3" alt="PYTHON" />
    <h2 class="pb-5">Comunidad de Desarrollo Tecnológico</h2>
</div>

<div class="col-12 mx-auto  c">
    

    <div class="col-11 mx-auto c">
        <h2>{{ comunity.name }}</h2>
    </div>

    <div class="col-11 mx-auto">
        <img src="{{ comunity.Logo.url }}" class="pt-2 pb-3" alt="">

        <div class="col-9 mx-auto mb-4 ">
            <h3>Detalles</h3>
            <p class="txtalig c">{{ comunity.summary }}</p>
            <p class="txtalig c">{{ comunity.information }}</p>
        </div>

        <img src="{{ comunity.image.url }}" class="col-8 pt-2 pb-3" alt="">

        <div class="col-11 mx-auto mb-5 row">
            <div class="col-6 ">
                <h5>Contacto</h5>
                <h4>{{ comunity.phone }}</h4>
                <h4>{{ comunity.email }}</h4>
            </div>
            <div class="col-6 ">
                <h5>Localizacion</h5>
                <h4>{{ comunity.city }}</h4>
                <h4>{{ comunity.country }}</h4>
            </div>
        </div>

        <div class="col-11 mx-auto row">
            {% if comunity.github %}
            <div class="col-3 mb-3">
                github:<br> {{ comunity.github }}
            </div>
            {% endif %}
            {% if comunity.telegram %}
            <div class="col-3 mb-3">
                telegram:<br>  {{ comunity.telegram }}
            </div>
            {% endif %}
            {% if comunity.twitter %}
            <div class="col-3 mb-3">
                twitter:<br>  {{ comunity.twitter }}
            </div>
            {% endif %}
            {% if comunity.linkedin %}
            <div class="col-3 mb-3">
                linkedin:<br>  {{ comunity.linkedin }}
            </div>
            {% endif %}
            {% if comunity.facebook %}
            <div class="col-3 mb-3">
                facebook:<br>  {{ comunity.facebook }}
            </div>
            {% endif %}
            {% if comunity.instagram %}
            <div class="col-3 mb-3">
                instagram:<br>  {{ comunity.instagram }}
            </div>
            {% endif %}
            {% if comunity.slack %}
            <div class="col-3 mb-3">
                slack:<br>  {{ comunity.slack }}
            </div>
            {% endif %}
            {% if comunity.googlePlus %}
            <div class="col-3 mb-3">
                googlePlus:<br>  {{ comunity.googlePlus }}
            </div>
            {% endif %}
            {% if comunity.medium %}
            <div class="col-3 mb-3">
                medium:<br>  {{ comunity.medium }}
            </div>
            {% endif %}
            {% if comunity.meetup %}
            <div class="col-3 mb-3">
                meetup:<br>  {{ comunity.meetup }}
            </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}